<style>
   body {
    min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "plus Jakarta Sans", sans-serif !important;
}

.content {
    flex: 1;
    /* Makes the content area take up available space */
}

.navbar {
    height: 5rem;
    background-color: white;
}

footer {
    background-color: #f1f1f1;
    flex-shrink: 0;
    width: 100%;
    margin-top: auto; /* Pushes the footer to the bottom if there's not enough content */
}

</style>
<footer class="text-center text-white" style="background-color: #f1f1f1; flex-shrink: 0; width: 100%;">
    <!-- Section: Social media -->
    <section class="mb-4 pt-4">
        <!-- Facebook -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://www.facebook.com/profile.php?id=100022556495860" role="button" data-mdb-ripple-color="dark">
            <i class="fab fa-facebook-f"></i>
        </a>

        <!-- Instagram -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.instagram.com/sagarrpatil_05/"
            role="button" data-mdb-ripple-color="dark">
            <i class="fab fa-instagram"></i>
        </a>

        <!-- Linkedin -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://www.linkedin.com/in/sagar-patil-73b674208/" role="button" data-mdb-ripple-color="dark">
            <i class="fab fa-linkedin"></i>
        </a>

        <!-- Github -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://github.com/Sagar-patil26112002"
            role="button" data-mdb-ripple-color="dark">
            <i class="fab fa-github"></i>
        </a>
    </section>
    <!-- Section: Social media -->

    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Copyright:
        <a class="text-dark" href="https://wonderlust-mern.onrender.com">WonderLust.com</a>
        <p class="text-dark">created by: @sagar patil</p>
    </div>
    <!-- Copyright -->
</footer>