<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/Listings">
      <i class="fa-solid fa-compass"></i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="/Listings">Explore</a>
        </li>
      </ul>
      <form class="d-flex mb-2 mb-md-0">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-search" type="submit">Search</button>
      </form>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/Listings/new">WonderLust your home</a>
        </li>
        <% if (!currUser) { %>
        <li class="nav-item">
          <a class="nav-link" href="/signup"><b>Sign in</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login"><b>Log in</b></a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/logout"><b>Log out</b></a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
